<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="bi" aria-hidden="true"></span> Initialization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <ul>
                <li>
                    <NavLink class="nav-link" href="01_initialization/01_basic_init">
                        <span class="bi" aria-hidden="true"></span> Basic initialization
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="01_initialization/02_load_json">
                        <span class="bi" aria-hidden="true"></span> Load data from JSON file
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="01_initialization/03_load_xml">
                        <span class="bi" aria-hidden="true"></span> Load data from XML file
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
