@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="container">
    <NavMenu/>
    <div class="main-content">
        <nav class="navbar">
            <span class="nav-link" @onclick='() =>toggle_demo("demo")'>Demo</span>
            <span class="nav-link" @onclick='() =>toggle_demo("code")'>Source code</span>
            <span class="nav-link" @onclick='() =>toggle_demo("api")'>API reference</span>
        </nav>
        <div class="content">
            <CascadingValue Value="showType">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        height: 100vh;
    }

    .main-content {
        flex-grow: 1;
        padding: 20px;
        overflow-y: auto;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        background-color: #f8f9fa;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .nav-link {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }

        .nav-link.active {
            color: #0056b3;
        }

    .content {
        padding: 20px;
    }
</style>

@code {
    private string showType = "demo";
    private void toggle_demo(string type)
    {
        this.showType = type;
    }
}

