<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/01_basic_init" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Basic initialization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/02_load_json">
                <span class="oi oi-plus" aria-hidden="true"></span> Load data from JSON file
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/03_load_xml">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Load data from XML file
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/04_save_rest">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Backend storage using REST API
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/06_touch_forced">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Forced touch mode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/07_jquery">
                <span class="oi oi-list-rich" aria-hidden="true"></span> jQuery integration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/08_explicit_time_range">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Define displayed date range
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/09_backward_compatibility">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Loading data in Gantt 1.6 format
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/10_fixed_size">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fixed size gantt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/11_clickable_links">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Clickable links
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/12_localization">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Localization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/13_project_duration">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Project duration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/14_reinitializtion">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ReInit in different container
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/15_connector_json_enddate">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Loading tasks start/end dates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/16_projects_and_milestones">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Projects and milestones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/17_bootstrap">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bootstrap layout
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/18_backward_planning">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Backward planning
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/19_tasks_without_dates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Show Unscheduled Tasks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/20_tasks_outside_timescale">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tasks outside timescale
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01_initialization/21_rollup_tasks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Rollup tasks and milestones
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
